#actions-bar
    display: flex
    flex-wrap: wrap
    align-items: center
    padding: 5px

mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type
    flex-flow: row-reverse

.align-flex-center mat-footer-cell
    justify-content: center

mat-cell, mat-header-cell
    word-break: break-all

.hidden
    display: none