<div id="container">
    <mat-card class="accent-text mat-elevation-z2" *ngIf="deletedHero != ''">
        <p class="mat-subheading-2">{{ deletedHero }} was successfully removed!</p>
    </mat-card>

    <div id="actions-bar">
        <form [formGroup]="searchForm" class="filter-hero">
            <mat-form-field>
                <mat-label>Hero</mat-label>
                <input type="text"
                    placeholder="Write name"
                    aria-label="Hero"
                    matInput
                    formControlName="term"
                    (keyup)="filterHeroes()">
            </mat-form-field>
        </form>
        <div class="flex-spacer"></div>
        <button (click)="goToNewHero()" mat-raised-button color="primary">Add a new hero</button>
    </div>

    <mat-table [dataSource]="heroesSource" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
            <mat-cell *matCellDef="let hero">{{ hero.id }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let hero">{{ hero.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="power">
            <mat-header-cell *matHeaderCellDef>Power</mat-header-cell>
            <mat-cell *matCellDef="let hero">{{ hero.power }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
            <mat-cell *matCellDef="let hero">
                <button (click)="openDeleteDialog(hero)" mat-icon-button color="warn" aria-label="Delete">
                    <mat-icon>delete</mat-icon>
                </button>
                <button (click)="goToEditHero(hero.id)" mat-icon-button color="primary" aria-label="Edit">
                    <mat-icon>mode_edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isDataAvailable">
            <mat-footer-cell *matFooterCellDef colspan="displayedColumns.length">
               No Data found
            </mat-footer-cell>
         </ng-container>

        <!-- Enable columns-->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['isDataAvailable']" class="align-flex-center" [class.hidden]="heroesSource.filteredData == null || heroesSource.filteredData.length > 0"></mat-footer-row>

    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 50]" showFirstLastButtons></mat-paginator>
</div>