<app-loader></app-loader>

<mat-toolbar color="primary">
    <button routerLink="heroes" mat-icon-button aria-label="Heroes App">
        <mat-icon>face</mat-icon>
    </button>
    <span>Heroes App</span>

    <div class="flex-spacer"></div>
    <span>Caterina Suárez</span>
</mat-toolbar>

<router-outlet></router-outlet>