@import "~@angular/material/theming"

$app-primary: mat-palette($mat-purple)
$app-accent:  mat-palette($mat-green)
$app-warn:    mat-palette($mat-red)

#container
    padding: 15px 40px

.flex-spacer
    flex-grow: 1

.accent-text
    background-color: mat-color($app-accent)
    color: rgba(0, 0, 0, .87)

.result-form-icon
    font-size: 100px !important
    height: 100px !important
    width: 100px !important
    line-height: 100px !important

@media screen and (max-width:768px)
    #container
        padding: 5px 10px