.flex-center
    display: flex
    flex-direction: column
    align-items: center

    form
        display: flex
        flex-direction: column
        align-items: flex-start

        mat-slide-toggle
            margin-top: 10px

    .form-buttons
        padding-top: 40px
        margin-right: 0
        margin-left: 0
        margin: auto

.finish-buttons
    display: flex
    justify-content: center
    padding-top: 20px
    .mat-warn
        margin-left: 10px