<div id="container">
    <mat-horizontal-stepper *ngIf="!!heroForm" class="mat-elevation-z2" [linear]="true" #stepper>
        <mat-step [stepControl]="heroDataStepForm" [editable]="editable">
            <div class="flex-center">
                <form [formGroup]="heroDataStepForm">
                    <ng-template matStepLabel>Fill Hero Data</ng-template>

                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput
                            placeholder="Insert name"
                            formControlName="name"
                            [upperCaseControl]="heroDataStepForm.controls.name"
                            [errorStateMatcher]="matcher" required>
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="heroDataStepForm.controls.name.hasError('required')">Name is required</mat-error>
                        <mat-error *ngIf="heroDataStepForm.controls.name.hasError('minlength')">Name need min 4 chars</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Power</mat-label>
                        <input matInput placeholder="Insert power" formControlName="power" [errorStateMatcher]="matcher" required>
                        <mat-hint></mat-hint>
                        <mat-error *ngIf="heroDataStepForm.controls.power.hasError('required')">Power is required</mat-error>
                    </mat-form-field>

                    <mat-slide-toggle [checked]="heroDataStepForm.controls.active.value"
                        (change)="setActiveStatus($event)">{{ heroDataStepForm.controls.active.value ? 'Active' : 'Inactive' }}</mat-slide-toggle>

                    <div class="form-buttons">
                        <button type="button"
                            (click)="editMode ? editHero(stepper) : createHero(stepper)"
                            color="accent" mat-raised-button
                            [disabled]="heroDataStepForm.invalid">
                            {{ editMode ? 'Update' : 'Create' }}
                        </button>
                    </div>
                </form>
            </div>
        </mat-step>
        
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>

            <ng-container *ngTemplateOutlet="creationSuccess ? successResult : errorResult"></ng-container>

            <!-- Usually templates go to end of the file, but mat-step requires it here -->
            <ng-template #successResult>
                <div class="flex-center">
                    <mat-icon class="result-form-icon" color="accent">check_circle_outline</mat-icon>
                    <p class="mat-headline">Success!</p>
                    <p class="mat-subheading-1">Hero was {{ editMode ? 'updated' : 'added' }} successfully.</p>
                </div>
            
                <div class="finish-buttons">
                    <button (click)="backToList()" mat-raised-button matStepperNext color="accent">Finish</button>
                </div>
            </ng-template>
            
            <ng-template #errorResult>
                <div class="flex-center">
                    <mat-icon class="result-form-icon" color="warn">error_outline</mat-icon>
                    <p class="mat-headline">Error!</p>
                    <p class="mat-subheading-1">An error has ocurred {{ editMode ? 'updating' : 'creating' }} the hero.</p>
                </div>
            
                <div class="finish-buttons">
                    <button mat-raised-button matStepperPrevious>Back</button>
                    <button (click)="backToList()" mat-raised-button matStepperNext color="warn">Cancel operation</button>
                </div>
            </ng-template>
        </mat-step>
    </mat-horizontal-stepper>
</div>