<h1 mat-dialog-title>{{ data.title }}</h1>

<div mat-dialog-content>
    <p>{{ data.message }}</p>
</div>

<div mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
    <button mat-button (click)="onCancelClick()">Cancel</button>
</div>